

%div{:style=>"margin:0 auto;padding:25px; width:650px;background-color:#eee;-webkit-box-shadow: 2px 1px 10px rgba(50, 50, 50, 0.50); -moz-box-shadow:2px 1px 10px rgba(50, 50, 50, 0.50); box-shadow:2px 1px 10px rgba(50, 50, 50, 0.50); -moz-border-radius: 3px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;"}
  %div{:style => "display:block; padding: 5px; border-bottom:1px solid #bbb; margin:00px 0 20px 0"}
    %div{:style=>"display:inline-block;"}
      =image_tag("http://gubbins.s3.amazonaws.com/tc_logo_colour_header.png", :width =>'500')
    -# %div{:style=>"display:inline-block;border:1px solid #fff;"}
    -#   %div{:style=>"display:block;;border:1px solid #fff;height:25px"}
    -#     TechCube 
    -#   %div{:style=>"display:block;border:1px solid #fff;"}
    -#     World class startup space in Edinburgh
    
  
  %div{:style => "display:inline-block; width:550px; margin-left:30px"}
    %div{:style=>"margin:0px 0 20px 0; font-size:1.2em; font-weight:bold;"}
      Hello!
  
    Dear 
    =@enquiry.name + ","
    %br
    %br
    
    Thank you for applying for space at TechCube. Currently, all of our office space is fully booked out, but we will be opening two more floors in 2013 and looking at company applications prior to that point. We hugely appreciate your interest and will be in touch as soon as we can.
    %br
    %br
    
    In addition to office space, we also have a limited supply of co-working spaces available and a spacious area on our ground floor for hotdesking and casual work. We will be announcing details of this on our website as soon as possible. 
    
    %br
    %br
    If you are interested in keeping up to date with us, sign up for the mailing list on our main website. 
    
    %br
    %br
    
    You can also follow us on twitter - 
    %a{:href => "http://twitter.com/edtechcube"}
      http://twitter.com/edtechcube
    ,
    %br
    find us on facebook -
    %a{:href => "http://www.facebook.com"}
      http://www.facebook.com/edtechcube
    ,
    %br
    or visit our website - 
    %a{:href => "http://techcu.be"}
      http://techcu.be
    for news, updates and information about us.
     
    %br
    %br
    Best wishes from the TechCube team.
    %br
    %br
    %br
    
    %div{:style=>"clear:both"}
      Please do not reply to this email.