
.container
  .top-twenty-margin
    .row
      .span9
        .row
          .span9
            .t2em.tw500.bottom-twenty-margin
              Edinburgh Startups and TechCube
            <iframe src="http://player.vimeo.com/video/55596624?title=0&amp;byline=0&amp;portrait=0" width="700" height="276" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/55596624">Edinburgh Startups - Part 1</a> from <a href="http://vimeo.com/edinburghfilmcompany">Edinburgh Film Company</a> on <a href="http://vimeo.com">Vimeo</a>.</p> 
        .row
          .span9
            .top-twenty-margin.lato.t1-6em.block.lh1-2
              TechCube is a world class space for technology startups in Edinburgh. It provides affordable office space, services and community support for companies trying to tackle big problems. Situated two minutes’ walk from the University of Edinburgh and directly adjacent to the Meadows, TechCube is at the heart of Edinburgh’s rapidly developing startup scene.  
        .row
          .span9
            .top-twenty-margin{:style=>"-moz-column-count:2; -webkit-column-count:2; column-count:2"}
              .lato.t1-2em.block.lh1-2
                Featuring a public space on the ground floor for hackers, geeks, artists and everyone in between and a roof terrace overlooking Edinburgh’s prehistoric skyline, the site is set to become one of the most desirable places to start a tech company in Europe.
      
              .lato.t1-2em.block.lh1-2.top-twenty-margin
                TechCube is nestled within the Summerhall arts complex, creating an environment where the arts and technology come together. Like Chicago and New York, Edinburgh owes its great heritage to a mixing between science and culture; TechCube and Summerhall follow in this tradition. In addition to the tech-focused events, TechCube tenants and visitors can engage with a rich palette of arts right on their doorstep, including an exciting avant garde festival program during August.   
      .span3
        .row
          .span3
            =render :partial => "layouts/sidebar"
                                                       

      
      