.bgblue
  .container
    .top-twenty-margin
      .row
        .span9
          .border.bottom-twenty-margin.relative
            .absolute{:style=>"bottom:30px; left:0px; opacity:0.8; background-color:#eee; padding:15px; width:445px"}
              .t2-5em.pull-right{:style=>"opacity:1"}
                Launch Date: 13th December 2012
            =image_tag("/assets/office.jpg")
        .span3
          .row
            .span3
              - flash.each do |key, value|
                .bottom-ten-margin
                  %div{:class => "flash #{key}"}
                    = value
          .row
            .span3
              =render :partial => "layouts/sidebar"
.container
  .row
    .span9
      .t2em.tw500.top-bottom-twenty-margin
        Edinburgh Startups and TechCube
      <iframe src="http://player.vimeo.com/video/53084844" width="700" height="393" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/52530401">Edinburgh Startups</a> from <a href="http://vimeo.com/lmfilm">Luke</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    
      
      .row
        .span9
          .top-twenty-margin.lato.t1-6em.block.lh1-2
            TechCube is a world class space for technology startups in Edinburgh. It provides affordable office space, services and community support for companies trying to tackle big problems. Situated two minutes’ walk from the University of Edinburgh and directly adjacent to the Meadows, TechCube is at the heart of Edinburgh’s rapidly developing startup scene. Featuring a public space on the ground floor for hackers, geeks, artists and everyone in between and a roof terrace overlooking Edinburgh’s prehistoric skyline, the site is set to become one of the most desirable places to start a tech company in Europe.  
      .row
        .span9
          .top-twenty-margin{:style=>"-moz-column-count:2; -webkit-column-count:2; column-count:2"}
            .lato.t1-2em.block.lh1-2
              Featuring a public space on the ground floor for hackers, geeks, artists and everyone in between and a roof terrace overlooking Edinburgh’s prehistoric skyline, the site is set to become one of the most desirable places to start a tech company in Europe.
        
            .lato.t1-2em.block.lh1-2.top-twenty-margin
              TechCube is nestled within the Summerhall arts complex, creating an environment where the arts and technology come together. Like Chicago and New York, Edinburgh owes its great heritage to a mixing between science and culture; TechCube and Summerhall follow in this tradition. In addition to the tech-focused events, TechCube tenants and visitors can engage with a rich palette of arts right on their doorstep, including an exciting avant garde festival program during August.
        
      
          
    .span3
      .top-twenty-margin
        .t2em.bottom-twenty-margin
          Where we are
        #map_canvas.bottom-twenty-margin{:style => "width:220px; height:220px; border:1px solid #aaa"}
      :javascript
        function initialize() {
          var mapOptions = {
            center: new google.maps.LatLng(55.939959, -3.182275,326247,672509),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
          };

          var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
          // var contentString = 'get with this';

          var infowindow = new google.maps.InfoWindow({
              content: 'get with this',
              maxwidth: 150
          });

          var cube_image = "http://gubbins.s3.amazonaws.com/tc_logo_box_colour_small.png"

          var marker = new google.maps.Marker({
             icon: cube_image,
             position:  new google.maps.LatLng(55.939959, -3.182),
             map: map,
             title: "whats up!"
          });

          var panoramaOptions = {

            position: new google.maps.LatLng(55.9406, -3.1831),
            pov:{
              heading:34,
              pitch:10,
              zoom:1
            }
          };

         // var panorama = new google.maps.StreetViewPanorama(document.getElementById("pano"), panoramaOptions);

          //google.maps.event.addListener(marker, 'click', function() {
          //  infowindow.open(map,marker);
          //});

        }

        function loadScript() {
          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDSxwX0QVXxSm2-rHIisLXOSrj5Lw2ZINs&sensor=false&callback=initialize";
          document.body.appendChild(script);
        }

        window.onload = loadScript;

      %a{:href => "http://bit.ly/SkKZTh", :target => "blank"}


        -# %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=Edinburgh&zoom=13&size=450x90&markers=color:red|55.95,-3.22&sensor=false&scale=2"}/

  
  
  