.row
  .span9
    .t2em
      We envision TechCube as many things: as a home for startups, with a low barrier to entry. It is a place to learn, play and be creative; a place to get discovered, but where failure is not the end. We want to provide access to deal flow and capital, and help create a real meritocracy for Scotland.