.t3em.hdividerbottom.bottom-ten-padding
  Open Space @ TechCube
.block.top-twenty-margin.t1-2em.lh1-2
  %p.tbold
    TechCube grew out of the community of startups and entrepreneurs in Edinburgh. A big part of this has always been teams and individuals who aren’t quite ready to go for office space but still need a place to work. With that in mind we are creating two spaces where you can literally get in on the ground floor. 

  %p
    We’ve got amazing coffee, free Wi-Fi, 24 hour access and seating for 80 in a 1700 sq. foot open space designed with the community in mind. This will be the space to hang out, meet up with friends, build ideas, and make things. 

  %p
    Across the hall we are offering hot-desking space for those ready to take a step up. Monthly memberships will grant you access to fully specified bookable desk space with super fast internet, phone lines, a mailing address and access to TechCube events and programmes.
        
        