.container
    .row
        .span6
            .block.t2em.top-bottom-ten-margin
                TechCube Surf Club! Interested?
            %script{:src=>"https://surfcube.inquire.ly/js/get/nl1ElOfbelhctBQQrLfCg13rE3J1dxn6/"}
        .span6
            .center
                =image_tag("/assets/tc_surf_poster.png", :width => "400px")

    .block.t2em
        
