.container
    .row
        .span6
            .block.t2em.top-bottom-ten-margin
                TechCube Surf Club! Interested?
            %script{:src=>"https://surfcube.inquire.ly/js/get/nl1ElOfbelhctBQQrLfCg13rE3J1dxn6/"}
        .span6
            .center
                =image_tag("/assets/tc_surf_poster.png", :width => "400px")

    .block.t2em
    
    -# .row
    -#       .span9
    -#         - @articles.each_with_index do |article, index|
    -#           .twenty-padding.three-rounded.top-twenty-margin.box-shadow{:style => "background-color:#eee"}
    -#             .block
    -#               &nbsp;
    -#               .pull-left.t2em
    -#                 - if article["type"] == "photo"
    -#                   %a{:href => "#{article["url"]}"}
    -#                     Photos
    -#                 %a{:href => "#{article["url"]}"}
    -#                   =article["regular_title"]
    -#               .pull-right
    -#                 =article["date"]
    -# 
    -#             .block.top-bottom-twenty-margin
    -#               - if article["type"] == "photo"
    -#                 .t1-4em.top-bottom-twenty-margin
    -#                   =article["photo_caption"].html_safe if article["photo_caption"] != nil
    -# 
    -#                 -article["images"].each do |image|
    -# 
    -#                   =image_tag(image["url"])
    -#                   <br>
    -#                   .top-twenty-margin
    -#                     =image["caption"]
    -#               -elsif article["type"] == "video"
    -#                 .t1-4em.top-bottom-twenty-margin
    -#                   =article["video_caption"].html_safe if article["video_caption"] != nil
    -#                 =article["video_source"].html_safe
    -#               -else
    -#                 =article["regular_body"].html_safe
    -#       .span3
    -#         .row
    -#           .span3
    -#             - flash.each do |key, value|
    -#               .bottom-ten-margin
    -#                 %div{:class => "flash #{key}"}
    -#                   = value
        
