.container
  .row
    .span9
      .top-twenty-margin.t2em
        Upcoming Events
      .row
        .span6
          .row
            .span9
              .box_top
                .box_tr{:style=> "background: #fff"} 
                .box_tl
                .box_tm{:style=> "background: #fff"} 
              .box_mid.threecol
                .colmid
                  .box_ml
                    .box_mm
                      .box_mc{:style=> "background: #fff"}
                        .top-twenty-margin
                          Events @ TechCube

              .box_bottom
                .box_br 
                .box_bl
                .box_bm
          .row
            .span9
              
              .top-twenty-margin.t2em
                Events around Edinburgh  
              - @date = @otc_events.first["start"]["rfc2882local"]
              - @otc_events.each do |otc_event|
                .top-twenty-margin
                  &nbsp; 
                .box_top
                  .box_tr{:style=> "background: #fff"} 
                  .box_tl
                  .box_tm{:style=> "background: #fff"} 
                .box_mid.threecol
                  .colmid
                    .box_ml
                      .box_mm
                        .box_mc{:style=> "background: #fff"}
                          =render :partial => "layouts/event", :locals => {:otc_event => otc_event}
                  .box_bottom
                    .box_br 
                    .box_bl
                    .box_bm                                                  

    .span3
      =render :partial => "/layouts/sidebar"