.container
  .row
    .span9
      .row
        .span12
          %h2
            =@page.title
        
      .row
        .span12
          =@page.body.html_safe
          .block  
            =params
    .span3
      =render :partial => "layouts/sidebar"