TechCube
World class startup space in Edinburgh
***************************************

TC Bot Notification

Good news!
  
=@signup.name + ","
who is
=@signup.iama
has signed up to your mailing list with the address
=@signup.email

See you later, punks... TC bot :)

Please do not reply to this email.