

%div{:style=>"margin:0 auto;padding:25px; width:650px;background-color:#eee;-webkit-box-shadow: 2px 1px 10px rgba(50, 50, 50, 0.50); -moz-box-shadow:2px 1px 10px rgba(50, 50, 50, 0.50); box-shadow:2px 1px 10px rgba(50, 50, 50, 0.50); -moz-border-radius: 3px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;"}
  %div{:style => "display:block; padding: 5px; border-bottom:1px solid #bbb; margin:00px 0 20px 0"}
    %div{:style=>"display:inline-block;"}
      =image_tag("http://gubbins.s3.amazonaws.com/tc_logo_colour_header.png", :width =>'500')
    -# %div{:style=>"display:inline-block;border:1px solid #fff;"}
    -#   %div{:style=>"display:block;;border:1px solid #fff;height:25px"}
    -#     TechCube 
    -#   %div{:style=>"display:block;border:1px solid #fff;"}
    -#     World class startup space in Edinburgh
  %div{:style=>"display:inline-block; float:left; width:150px; margin:0px 0 20px 0; font-size:1.2em; font-weight:bold;"}
    %div{:style=>"display:inline-block; font-size:1.2em; font-weight:bold;"}
      TC Bot Notification
    =image_tag("http://gubbins.s3.amazonaws.com/tc_bot.png", :width =>'100')
    
  
  %div{:style => "display:inline-block; float:left; width:400px; margin-left:30px"}
    %div{:style=>"margin:0px 0 20px 0; font-size:1.2em; font-weight:bold;"}
      Good news!
  

    =@signup.name + ","
    who is
    =@signup.iama
    has signed up to your mailing list with the address

    =@signup.email

    %br
    %br
    %br
    See you later, punks... TC bot :)

  %div{:style=>"margin:20px 0 20px 0; font-size:1.2em;clear:both"}
    Please do not reply to this email.