TechCube
World class startup space in Edinburgh
**************************************

Dear 

=@signup.name + ","

Thank you for signing up to our mailing list. We will be sending out periodic email newsletters to those on our mailing list keeping you up to date and informing you of events and activities at TechCube.

You can also follow us on twitter - http://twitter.com/edtechcube,
find us on facebook - http://www.facebook.com/edtechcube,
or visit our website - http://techcu.be for news, updates and information about us.

Best wishes from the TechCube team.

Please do not reply to this email.