.container
  .row
    .span9
      .block.top-bottom-twenty-margin
        .inline-block
          = image_tag("/assets/logo/tc_logo_colour_header.png", :size => "500x70")
        -# .inline-block
        -#   .relative.t1-8em.bold{:style => "bottom:-40px; left:-170px"}
        -#     World class startup space in Edinburgh
          -# = image_tag("/assets/temp_logo.png", :size => "300x50")
    .span3
      .block{:style => "height:85px"}
        &nbsp;
      .block
        %a{:href => "http://www.facebook.com/edtechcube"}
          =image_tag("/assets/f_logo.png", :size=>"25x25")
        %a{:href => "http://www.twitter.com/edtechcube"}
          =image_tag("/assets/t_logo.png", :size=>"40x40")



.container
  .navbar{:style=>"margin-bottom:0px"}
    .navbar-inner
      %ul.nav
        -if params[:action] == "index"
          %li.active
            %a{:href=>"home"}
              Home
        -else
          %li
            %a{:href=>"home"}
              Home
        -if params[:action] == "news"
          %li.active
            %a{:href=>"news"}
              News
        -else
          %li
            %a{:href=>"news"}
              News
        -if params[:action] == "tenants"
          %li.active
            %a{:href=>"tenants"}
              Tenants
        -else
          %li
            %a{:href=>"tenants"}
              Tenants
        -if params[:action] == "community"
          %li.active
            %a{:href=>"community"}
              Community
        -else
          %li
            %a{:href=>"community"}
              Community
        -if params[:action] == "events"
          %li.active
            %a{:href=>"events"}
              Events
        -else
          %li
            %a{:href=>"events"}
              Events
        -if params[:action] == "mission"
          %li.active
            %a{:href=>"mission"}
              Mission
        -else
          %li
            %a{:href=>"mission"}
              Mission