.container
  .row
    .span12

      -if params[:action] == "news"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/news.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:controller] == "home"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/home.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:controller] == "events"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/events.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:controller] == "jobs"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/jobs.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:url] == "facilities"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/facilities.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:url] == "community"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/community.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:url] == "tenants"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/tenants.jpg');"}
          =render :partial => "/layouts/nav"
      -elsif params[:url] == "press"
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/press.jpg');"}
          =render :partial => "/layouts/nav" 
      -else
        .block.top-bottom-ten-margin{:style => "height:255px; background:url('/assets/headers/default.jpg');"}
          =render :partial => "/layouts/nav" 

.container
  =render :partial => "/layouts/errors"