
.tbold.inline-block
  .valign-top.inline-block.top-ten-margin
    .dosis.tw200.t4em
      TechCube
      %span{:class=>"t0-4em"}
        World class startup space in Edinburgh
    -# = image_tag("/assets/temp_logo.png", :size => "300x50")
.inline-block
  

.container
  .navbar
    .navbar-inner
      %ul.nav
        -if params[:action] == "index"
          %li.active
            %a{:href=>"home"}
              Home
        -else
          %li
            %a{:href=>"home"}
              Home
        -if params[:action] == "tenants"
          %li.active
            %a{:href=>"tenants"}
              Tenant information
        -else
          %li
            %a{:href=>"tenants"}
              Tenant information
        -if params[:action] == "public"
          %li.active
            %a{:href=>"public"}
              Community
        -else
          %li
            %a{:href=>"public"}
              Community