.container
  .block.top-bottom-twenty-margin
    .inline-block
      = image_tag("/assets/logo/tc_logo_colour_header.png", :size => "500x70")
    -# .inline-block
    -#   .relative.t1-8em.bold{:style => "bottom:-40px; left:-170px"}
    -#     World class startup space in Edinburgh
      -# = image_tag("/assets/temp_logo.png", :size => "300x50")




.container
  .navbar{:style=>"margin-bottom:0px"}
    .navbar-inner
      %ul.nav
        -if params[:action] == "index"
          %li.active
            %a{:href=>"home"}
              Home
        -else
          %li
            %a{:href=>"home"}
              Home
        -if params[:action] == "tenants"
          %li.active
            %a{:href=>"tenants"}
              Tenants
        -else
          %li
            %a{:href=>"tenants"}
              Tenants
        -if params[:action] == "community"
          %li.active
            %a{:href=>"community"}
              Community
        -else
          %li
            %a{:href=>"community"}
              Community
        -if params[:action] == "mission"
          %li.active
            %a{:href=>"mission"}
              Mission
        -else
          %li
            %a{:href=>"mission"}
              Mission