.top-twenty-margin
  .t2em.bottom-twenty-margin
    Where we are
  #map_canvas.bottom-twenty-margin{:style => "width:220px; height:220px; border:1px solid #aaa"}
:javascript
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(55.940365, -3.182361,326247,672509),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    // var contentString = 'get with this';

    var infowindow = new google.maps.InfoWindow({
        content: 'get with this',
        maxwidth: 150
    });

    var cube_image = "http://gubbins.s3.amazonaws.com/tc_logo_box_colour_small.png"

    var marker = new google.maps.Marker({
       icon: cube_image,
       position:  new google.maps.LatLng(55.940290, -3.182315),
       map: map,
       title: "whats up!"
    });

    var panoramaOptions = {

      position: new google.maps.LatLng(55.940365, -3.182361),
      pov:{
        heading:34,
        pitch:10,
        zoom:1
      }
    };

   // var panorama = new google.maps.StreetViewPanorama(document.getElementById("pano"), panoramaOptions);

    //google.maps.event.addListener(marker, 'click', function() {
    //  infowindow.open(map,marker);
    //});

  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDSxwX0QVXxSm2-rHIisLXOSrj5Lw2ZINs&sensor=false&callback=initialize";
    document.body.appendChild(script);
  }

  window.onload = loadScript;

%a{:href => "http://bit.ly/SkKZTh", :target => "blank"}


  -# %img{:src => "http://maps.googleapis.com/maps/api/staticmap?center=Edinburgh&zoom=13&size=450x90&markers=color:red|55.95,-3.22&sensor=false&scale=2"}/