.block.clear-both.top-ten-margin
  .pull-right.ten-padding.relative{:style => "right:10px; top:10px"}
    -if signed_in?
      .box_top
        .box_tr{:style=> "background: #fff"} 
        .box_tl
        .box_tm{:style=> "background: #fff"} 
      .box_mid.threecol
        .colmid
          .box_ml
            .box_mm
              .box_mc{:style=> "background: #fff"}
                .tbold.block 
                  = current_user.name
                  || 
                  %a{:href => "/admin"}
                    Admin Page
                  ||
                  %a{:href => "/signout"}
                    signout      
                  

      .box_bottom
        .box_br 
        .box_bl
        .box_bm

.block.clear-both
  .pull-right
    %a{:href => "http://www.facebook.com/edtechcube"}
      =image_tag("/assets/f_logo.png", :size=>"25x25")
    %a{:href => "http://www.twitter.com/edtechcube"}
      =image_tag("/assets/t_logo.png", :size=>"40x40") 
#nav-bar.block{:style => "position:relative; left:235px; top:110px; width: 715px; height: 100px"}
  -if params[:controller] == "home" and params[:action] == "index"
    .nav-item.nav-item-active
      %a{:href=>"/", :style => "color:#fff"}
        Home
  -else
    .nav-item
      %a{:href=>"/", :style => "color:#fff"}
        Home


  -if params[:action] == "news"
    .nav-item.nav-item-active
      %a{:href=>"/news", :style => "color:#fff"}
        News
  -else
    .nav-item
      %a{:href=>"/news", :style => "color:#fff"}
        News
  -if params[:controller] == "events"
    .nav-item.nav-item-active
      %a{:href=>"/events", :style => "color:#fff"}
        Events
  -else
    .nav-item
      %a{:href=>"/events", :style => "color:#fff"}
        Events        
  -if params[:controller] == "jobs"
    .nav-item.nav-item-active
      %a{:href=>"/jobs", :style => "color:#fff"}
        Jobs
  -else
    .nav-item
      %a{:href=>"/jobs", :style => "color:#fff"}
        Jobs

  -Page.all.each do |page|
    -if params[:url] == page.url
      .nav-item.nav-item-active
        %a{:href=>"/#{page.url}", :style => "color:#fff"}
          =page.title
    -else
      .nav-item
        %a{:href=>"/#{page.url}", :style => "color:#fff"}
          =page.title