-# Takes a bg colour and content

.box_top
  .box_tr{:style=> "background: #fff"} 
  .box_tl
  .box_tm{:style=> "background: #fff"} 
.box_mid.threecol
  .colmid
    .box_ml
      .box_mm
        .box_mc{:style=> "background: #fff"}
 

.box_bottom
  .box_br 
  .box_bl
  .box_bm